@tailwind base;
@tailwind components;
@tailwind utilities;

header ul li{
    @apply px-3;
  }
  
.mobile-nav{
  @apply fixed top-10 left-0  bg-primary2 w-full h-1/4;
}

.mobile-nav  li {
@apply w-full h-full text-center border-b-2;
}
.btn{
  @apply bg-primary px-5 py-2 font-bold hover:border-2  border-white rounded;
}
.nave{
  @apply bg-primary2 px-5 py-2 font-bold hover:border-2  border-white rounded;

}
html {
  scroll-behavior: smooth;
}
.player-wrapper {
  position: relative;
  padding-top: 56.25%; /* 16:9 aspect ratio */
}

.react-player {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
}
